.bg-active{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(26, 67, 83, 0.76);
}

.passive{
    display: none;
}
.active {
    display: inline-block;
}
.Error {
    background-color: #fad2d1;
    border: thin solid #f97e76;
}
.tooltype{
    font-size: 15px;
    font-family: 'FiraSans Book';
    color: white;
    background-color: rgb(175, 36, 36);
    position: absolute;
    padding: 2px 12px;
    height: 30px;
}
.left:after, .rigth:before{
    content: " ";
    display: block;
    position: absolute;
    height: 0px;
    width: 0px;
    border-color: rgb(175, 36, 36);
    border-top: 15px solid transparent;
    border-bottom:  15px solid transparent;
    border-style: solid;
    top: 0;
}
.left:after{
    border-left-width: 10px;
    border-right-color: transparent;
    right: -12px;
}
.rigth:before{
    border-right-width: 10px;
    border-left-color: transparent;
    left: -12px;
}
.rigth{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.left{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#name{
    top: 215px;
    right: 530px;
}
#soap{
    top: 210px;
    left: 842px;
}
#text{
    top:297px;
    right:533px;
}
#secretCode{
    top:530px;
    left:847px;
}

.Addsite{
   border-radius: 5px;
   position: relative;
   margin: 0 auto;
   margin-top: 314px;
   width: 362px;
   background-color: #eff3f7;
   padding-bottom: 54px;
}
.head{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: "FiraSans Regular";
    margin: 0;
    font-weight: normal;
    color: #f2f6fa;
    background-color: #3d8eb9;
    border-bottom: 10px solid #3ba8c0;
    font-size: 25px;
    padding: 4px 20px 0px 13px;
}
#close{
    position: absolute;
    right: 10px;
    top: 7px;
    height: 28px;
    width: 28px;
    background-image: url(../image/sprite.png);
    background-position: 117px 30px;
    cursor: pointer;
}
.blocks_form{
    display: block;
    font-family: "FiraSans Light";
    font-size: 17px;
    color: #87aeba;
    padding: 0;
    margin: 5px 20px 5px;
}
.button_add{
    position: relative;
    margin: 15px 111px;
}
.sub_add{
    padding: 0px 28px;
}
.label_image{
    position: relative;
    border-radius: 3px;
    height: 40px;
    width: 320px;
    padding-top: 10px;
    overflow: hidden;
}
.label_image:before{
    content: ' ';
    margin-top: -10px;
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 159, 195, 0.6);
    background-image: url(../image/sprite.png);
    background-position: 123px 74px;
}

#new_site{
    height: 40px;
    width: 320px;
}
#Err_site {
    top: 82px;
    right: 350px;
}
#new_image{
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: alias;
    opacity: 0;
    height: 40px;
    width: 320px;
}
#Err_image{
    top: 157px;
    right: 350px;
}
#new_link{
    height: 40px;
    width: 320px;
}
#Err_link{
    top: 224px;
    right: 350px;
}
#new_definition{
    height: 112px;
    width: 320px;
    padding-top: 10px;
    resize: none;
}
#Err_definition{
    top: 315px;
    right: 350px;
}
