.bg-active{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(26, 67, 83, 0.76)
}
.passive{
    display: none;
}
.active {
    display: inline-block;
}
.Error {
    background-color: #ebb2b2;
}

#name, #soap, #text, #secretCode{
    font-size: 16px;
    font-family: 'FiraSans Book';
    color: white;
    background-color: rgb(175, 36, 36);
    position: absolute;
    padding: 2px 12px;
    height: 30px;
}
#name:after, #soap:before, #text:after, #secretCode:before{
    content: " ";
    display: block;
    position: absolute;
    height: 0px;
    width: 0px;
    border-color:rgb(175, 36, 36);
    border-top: 15px solid transparent;
    border-bottom:  15px solid transparent;
    border-style: solid;
    top: 0;
}

#name:after,#text:after{
    border-left-width: 10px;
    border-right-color: transparent;
    right: -12px;
}
#soap:before, #secretCode:before{
    border-right-width: 10px;
    border-left-color: transparent;
    left: -12px;
}

#name{
    top: 215px;
    right: 530px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
#soap{
    top: 210px;
    left: 842px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
#text{
    top:297px;
    right:533px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
#secretCode{
    top:530px;
    left:847px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
